# Processing data folder
temp/

# Python virtual environment common files
pyvenv.cfg

# Python virtual environment files (Linux)
bin/
include/
lib/
lib64
share/

# Python virtual environment files (Windows)
Include/
Lib/
Scripts/
